@media screen and (max-width: 1367px) {
  .panel-content h5 {
    display: block;
    position: absolute;
    top: 0;
    width: calc(100% - 20px);
  }
  .panel-box:not(.big-panel) .panel-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 80px;
  }
  .panel-box:not(.big-panel) {
    height: 380px;
  }
}

@media screen and (max-width: 1200px) {
  .panel-left,
  .panel-right {
    border-color: transparent;
  }
}

@media screen and (max-width: 991px) {
  .panel-box:not(.big-panel) {
    height: 280px;
  }
  .panel-box:not(.big-panel) .panel-content {
    padding-top: 40px;
  }
}

@media screen and (max-width: 768px) {
  .panel-box:not(.big-panel) .panel-content {
    padding-top: 60px;
  }
  .panel-box:not(.big-panel) {
    height: 300px;
  }
  .title-central h3,
  .title-central.open-central h3{
    opacity: 1;
    white-space: wrap;
  }
}

@media screen and (max-width: 300px) {
    .panel-box:not(.big-panel) {
      height: 200px;
    }
  }
  